<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>BMI Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="how-section1" style="margin-top: 40px">
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="https://cdn.pixabay.com/photo/2016/03/09/15/29/lemon-1246682_1280.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6" style="margin-top: 20px">
                <h4>Wskaźnik masy ciała</h4>

                <p class="text-muted">Wskaźnik masy ciała (ang. body mass index, BMI), także wskaźnik Queteleta II – współczynnik powstały przez podzielenie masy ciała podanej w kilogramach przez kwadrat wysokości podanej w metrach[2]. Klasyfikacja (zakres wartości) wskaźnika BMI została opracowana wyłącznie dla dorosłych[3] i nie może być stosowana u dzieci. Dla oceny prawidłowego rozwoju dziecka wykorzystuje się siatki centylowe, które powinny być dostosowane dla danej populacji.

                    Oznaczanie wskaźnika masy ciała ma znaczenie w ocenie zagrożenia chorobami związanymi z nadwagą i otyłością, np. cukrzycą, chorobą niedokrwienną serca, miażdżycą. Podwyższona wartość BMI związana jest ze zwiększonym ryzykiem wystąpienia takich chorób.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top: 70px">
                <h4>Zakresy wartości BMI</h4>
                <h4 class="subheading">Dla osób dorosłych wartość BMI wskazuje na:</h4>
                <p class="text-muted" style="margin-top: 20px">według podstawowej klasyfikacji:

                    < 18,5 – niedowagę 18,5–24,99 – wartość prawidłową ≥ 25,0 – nadwagę b) według poszerzonej klasyfikacji: < 16,0 – wygłodzenie 16,0–16,99 – wychudzenie 17,0–18,49 – niedowagę 18,5–24,99 – wartość prawidłową 25,0–29,99 – nadwagę 30,0–34,99 – I stopień otyłości 35,0–39,99 – II stopień otyłości (otyłość kliniczna) ≥ 40,0 – III stopień otyłości (otyłość skrajna) </p> </div> <div class="col-md-6 how-img">
                        <img src="https://cdn.pixabay.com/photo/2016/03/09/09/14/books-1245690_1280.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="https://cdn.pixabay.com/photo/2015/07/02/10/40/writing-828911_1280.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6" style="margin-top: 45px"
               >
                <h4>Interpretacja wskaźnika BMI</h4>

                <p class="text-muted" style="margin-top: 20px">BMI jest bardzo prosty w użyciu, jednak nie uwzględnia on indywidualnej budowy ciała. Jest dosyć niedokładnym wskaźnikiem niedowagi i nadwagi oraz ryzyk chorób z nimi związanych. Kulturyści mogą mieć BMI wskazujące na skrajną otyłość, posiadając jednocześnie bardzo mało tkanki tłuszczowej. Z drugiej strony, BMI zupełnie zdrowych, szczupłych i wysokich lekkoatletów może wskazywać na skrajną niedowagę (np. BMI Yohanna Diniza przy wzroście 185 cm i wadze 59 kg wyniesie 17,24). Związek między wielkością wskaźnika a ryzykiem chorób różni się między populacjami o różnych proporcjach ciała. I tak wśród Azjatów ryzyko cukrzycy jest znacząco wyższe przy niższych wartościach BMI[3]. Zawartość tłuszczu w organizmie jest też wyższa u kobiet, niż u mężczyzn przy normalnej masie ciała. W przypadku kobiet tkanka tłuszczowa odpowiada za płodność i dojrzewanie płciowe[5].

                    Dokładniejszym, ale trudniejszym do zmierzenia bez specjalistycznej aparatury wskaźnikiem zagrożeń wynikających z nadmiaru tkanki tłuszczowej jest procentowa zawartość tłuszczu w organizmie.

                    W praktyce klinicznej nie jest zalecane stosowanie wskaźnika BMI do oznaczania prawidłowej masy ciała dla dzieci do ok. 14 roku życia, służą do tego tabele centylowe i odpowiednia interpretacja danych dot. masy ciała i wzrostu – głównie bierze się pod uwagę jaka jest różnica w tzw. kanałach centylowych wzrostu i masy ciała dla danego dziecka.</p>
            </div>
        </div>


</body>

</html>
